<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet"> 

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="display: flex; flex-direction: column; min-height: 100vh;">
    <div class="site-wrapper" style="flex: 1; display: flex; flex-direction: column;">
      <div class="site-wrapper-inner" style="flex: 1; display: flex; flex-direction: column;">
        <div class="cover-container" style="flex: 1; display: flex; flex-direction: column;">
          <%= render 'shared/portfolio_nav' %>
          <main role="main" style="flex: 1;">
            <%= render 'shared/portfolio_masthead' unless logged_in?(:site_admin) %>
            <%= yield %>
          </main>
            <%= render 'shared/portfolio_footer' %>
            <%= alerts %>
            <%= source_helper("application") %>
        </div>
      </div>
    </div>
  </body>
</html>
